APP_API_SECRET=
APP_API_SALT=salt
PUBLIC_APP_API_TOKEN=YOUR_PUBLIC_APP_API_TOKEN
PUBLIC_SUPABASE_API_URL=YOUR_SUPABASE_API_URL
PUBLIC_SUPABASE_DB_URL=YOUR_SUPABASE_DB_URL
PUBLIC_SUPABASE_KEY=YOUR_SUPABASE_ANON_KEY
PUBLIC_ENABLE_REGISTRATION=true