@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --color-ctp-rosewater: 11 59% 67%;
    --color-ctp-flamingo: 0 60% 67%;
    --color-ctp-pink: 316 73% 69%;
    --color-ctp-mauve: 266 85% 58%;
    --color-ctp-red: 347 87% 44%;
    --color-ctp-maroon: 355 76% 59%;
    --color-ctp-peach: 22 99% 52%;
    --color-ctp-yellow: 35 77% 49%;
    --color-ctp-green: 109 58% 40%;
    --color-ctp-teal: 183 74% 35%;
    --color-ctp-sky: 197 97% 46%;
    --color-ctp-sapphire: 189 70% 42%;
    --color-ctp-blue: 220 91% 54%;
    --color-ctp-lavender: 231 97% 72%;
    --color-ctp-text: 234 16% 35%;
    --color-ctp-subtext1: 233 13% 41%;
    --color-ctp-subtext0: 233 10% 47%;
    --color-ctp-overlay2: 232 10% 53%;
    --color-ctp-overlay1: 231 10% 59%;
    --color-ctp-overlay0: 228 11% 65%;
    --color-ctp-surface2: 227 12% 71%;
    --color-ctp-surface1: 225 14% 77%;
    --color-ctp-surface0: 223 16% 83%;
    --color-ctp-base: 220 23% 95%;
    --color-ctp-mantle: 220 22% 92%;
    --color-ctp-crust: 220 21% 89%;

    --background: var(--color-ctp-base);
    --foreground: var(--color-ctp-text);
 
    --muted: var(--color-ctp-overlay2);
    --muted-foreground: var(--color-ctp-surface2);
 
    --popover: var(--color-ctp-mantle);
    --popover-foreground: var(--color-ctp-subtext0);
 
    --card: var(--color-ctp-surface0);
    --card-foreground: var(--color-ctp-text);
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --color-ctp-rosewater: 10 56% 91%;
    --color-ctp-flamingo: 0 59% 88%;
    --color-ctp-pink: 316 72% 86%;
    --color-ctp-mauve: 267 84% 81%;
    --color-ctp-red: 343 81% 75%;
    --color-ctp-maroon: 350 65% 77%;
    --color-ctp-peach: 23 92% 75%;
    --color-ctp-yellow: 41 86% 83%;
    --color-ctp-green: 115 54% 76%;
    --color-ctp-teal: 170 57% 73%;
    --color-ctp-sky: 189 71% 73%;
    --color-ctp-sapphire: 199 76% 69%;
    --color-ctp-blue: 217 92% 76%;
    --color-ctp-lavender: 232 97% 85%;
    --color-ctp-text: 226 64% 88%;
    --color-ctp-subtext1: 227 35% 80%;
    --color-ctp-subtext0: 228 24% 72%;
    --color-ctp-overlay2: 228 17% 64%;
    --color-ctp-overlay1: 230 13% 55%;
    --color-ctp-overlay0: 231 11% 47%;
    --color-ctp-surface2: 233 12% 39%;
    --color-ctp-surface1: 234 13% 31%;
    --color-ctp-surface0: 237 16% 23%;
    --color-ctp-base: 240 21% 15%;
    --color-ctp-mantle: 240 21% 12%;
    --color-ctp-crust: 240 23% 9%;

    --background: var(--color-ctp-base);
    --foreground: var(--color-ctp-text);
 
    --muted: var(--color-ctp-overlay2);
    --muted-foreground: var(--color-ctp-surface2);
 
    --popover: var(--color-ctp-mantle);
    --popover-foreground: var(--color-ctp-subtext0);
 
    --card: var(--color-ctp-surface0);
    --card-foreground: var(--color-ctp-text);
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 212.7 26.8% 83.9%;
  }
}

body {
  height: 100vh;
}

html {
  font-family: system-ui, sans-serif;
}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.bg-ctp-pink {
  background: hsl(316 73% 69%)
}

.bg-ctp-peach {
  background: hsl(23 92% 75%)
}

.bg-ctp-yellow {
  background: hsl(35 77% 49%)
}

.bg-ctp-teal {
  background: hsl(183 74% 35%)
}

.bg-ctp-sapphire {
  background: hsl(189 70% 42%)
}

.bg-ctp-sky {
  background: hsl(197 97% 46%)
}

.bg-ctp-lavender {
  background: hsl(231 97% 72%)
}

.dark .bg-ctp-pink {
  background: hsl(316 72% 86%)
}

.dark .bg-ctp-peach {
  background: hsl(22 99% 52%)
}

.dark .bg-ctp-yellow {
  background: hsl(41 86% 83%)
}

.dark .bg-ctp-teal {
  background: hsl(170 57% 73%)
}

.dark .bg-ctp-sapphire {
  background: hsl(199 76% 69%)
}

.dark .bg-ctp-sky {
  background: hsl(189 71% 73%)
}

.dark .bg-ctp-lavender {
  background: hsl(232 97% 85%)
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}