---
import '@/styles/globals.css'
import astroConfig from 'astro.config.mjs'
import Layout from '@/layouts/Layout.astro'
import NavBar from '@/components/ui/NavBar.vue'
import { supabase } from '@/lib/supabase'
import { Profile } from '@/lib/db/schemas'
import db from '@/lib/db/db'
import { eq } from 'drizzle-orm'
import CreateBookmark from '@/components/forms/CreateBookmark.vue'
import BookmarkList from '@/components/BookmarkList.vue'

const { cookies, redirect } = Astro

const accessToken = cookies.get('sb-access-token')
const refreshToken = cookies.get('sb-refresh-token')

if (!accessToken || !refreshToken) {
  return redirect('/signin')
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
})

if (error) {
  cookies.delete('sb-access-token', {
    path: '/',
  })
  cookies.delete('sb-refresh-token', {
    path: '/',
  })

  return redirect('/signin')
}

let email: string | null = 'N/A'

if (data.user) {
  const profile = await db.select().from(Profile).where(eq(Profile.id, data.user?.id))
  email = profile[0]?.email
}

const { site } = astroConfig
---

<Layout title="dashboard">
  <header>
    <NavBar client:load />
  </header>
  <main>
    <h1>Welcome {email}</h1>
    <p>We are happy to see you here</p>
    <CreateBookmark
      profileId={data.user?.id}
      client:visible
    />
    { 
      data.user && 
      <BookmarkList
        userId={data.user.id}
        site={site}
        client:visible 
      />
    }
  </main>
</Layout>
