---
import { hasRegistration } from '@/app.config'
import Layout from '@/layouts/Layout.astro'
import RegisterForm from '@/components/forms/RegisterForm.vue'

if (!hasRegistration) {
  return Astro.redirect('/')
}
---

<Layout title="Register">
  <main>
    <RegisterForm client:load />
  </main>
</Layout>
