---
import '@/styles/globals.css'
import Layout from '@/layouts/Layout.astro'
import { hasRegistration } from '@/app.config'
import { RegisterForm } from '@/components/forms'

if (!hasRegistration) {
  return Astro.redirect('/')
}
---

<Layout title="Register">
  <main>
    <RegisterForm
      class="max-w-sm mx-auto my-12"
      client:load
    />
  </main>
</Layout>
