<script>
import { customEventNames } from '@/lib/eventNames'

class ToggleVisibilityButton extends HTMLElement {
  constructor() {
    super()
    let isVisible = false

    const toggleButton = this.querySelector('button.visibility-toggle') as HTMLButtonElement
    
    if (!toggleButton) return
    
    const plusIcon = toggleButton?.querySelector('svg.lucide-plus') as SVGSVGElement
    const minusIcon = toggleButton?.querySelector('svg.lucide-minus') as SVGSVGElement
    
    function setIcon (isVisible: boolean, plusIcon: SVGSVGElement, minusIcon: SVGSVGElement | null) {
      if (isVisible) {
        plusIcon?.classList.add('hidden')
        minusIcon?.classList.remove('hidden')
      } else {
        plusIcon?.classList.remove('hidden')
        minusIcon?.classList.add('hidden')
      }
    }

    setIcon(isVisible, plusIcon, minusIcon)

    toggleButton?.addEventListener('click', () => {
      isVisible = !isVisible
      setIcon(isVisible, plusIcon, minusIcon)
      const event = new CustomEvent(customEventNames.visibilityToggle, { detail: isVisible })
      window.dispatchEvent(event)
    })
  }
}

// Tell the browser to use our ToggleVisibilityButton class for <toggle-visibility-button> elements.
customElements.define('toggle-visibility-button', ToggleVisibilityButton)
</script>

<toggle-visibility-button>
  <button
    class="visibility-toggle"
    aria-label="Toggle Visibility"
  >
    <span class="text-ctp-mantle text-2xl font-bold">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-plus"
      >
        <path d="M5 12h14"/>
        <path d="M12 5v14"/>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-minus hidden"
      >
        <path d="M5 12h14"/>
      </svg>
    </span>
  </button>
</toggle-visibility-button>

<style>
  toggle-visibility-button {
    @apply mx-6;
  }

  .visibility-toggle {
    @apply flex items-center justify-center w-8 h-8 p-2 rounded-full bg-ctp-teal hover:bg-ctp-green;
  }
</style>
