<script>
import { customEventNames } from '@/lib/eventNames'

class ToggleVisibilityButton extends HTMLElement {
  constructor() {
    super()
    let isVisible = false

    const toggleButton = this.querySelector('button.visibility-toggle') as HTMLButtonElement
    
    if (!toggleButton) return
    
    const plusIcon = toggleButton?.querySelector('svg.lucide-plus') as SVGSVGElement
    const minusIcon = toggleButton?.querySelector('svg.lucide-minus') as SVGSVGElement
    const toggleText = toggleButton?.querySelector('span.toggleText') as HTMLSpanElement
    
    function setIcon (isVisible: boolean, plusIcon: SVGSVGElement, minusIcon: SVGSVGElement | null) {
      if (isVisible) {
        plusIcon?.classList.add('hidden')
        minusIcon?.classList.remove('hidden')
      } else {
        plusIcon?.classList.remove('hidden')
        minusIcon?.classList.add('hidden')
      }
    }

    function setToggleText (isVisible: boolean) {
      if (isVisible) {
        toggleText.innerText = 'Close'
      } else {
        toggleText.innerText = 'Add new'
      }
    }

    setIcon(isVisible, plusIcon, minusIcon)
    setToggleText(isVisible)

    toggleButton?.addEventListener('click', () => {
      isVisible = !isVisible
      setIcon(isVisible, plusIcon, minusIcon)
      setToggleText(isVisible)
      const event = new CustomEvent(customEventNames.visibilityToggle, { detail: isVisible })
      window.dispatchEvent(event)
    })
  }
}

// Tell the browser to use our ToggleVisibilityButton class for <toggle-visibility-button> elements.
customElements.define('toggle-visibility-button', ToggleVisibilityButton)
</script>

<toggle-visibility-button>
  <button
    class="visibility-toggle flex items-center justify-center md:justify-between w-12 h-12 md:w-48 md:h-8 p-2 rounded-full bg-ctp-teal hover:bg-ctp-green hover:scale-105 text-ctp-mantle"
    aria-label="Toggle Visibility"
  >
    <span class="toggleText hidden md:inline text-base font-bold sr-none ml-2"></span>
    <span class="text-2xl font-bold">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-plus"
      >
        <path d="M5 12h14"/>
        <path d="M12 5v14"/>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-minus hidden"
      >
        <path d="M5 12h14"/>
      </svg>
    </span>
  </button>
</toggle-visibility-button>

<style>
  toggle-visibility-button {
    @apply ml-6;
  }
</style>
